:root {
  --Primary: #043927;
  --Secondary: #35b711;
  --Clicked: rgba(53, 183, 17, 0.2);
  --Alert: #ff4545;
  --Black30: #969696;
  --Black100: black;
  --White100: white;
}

.text-title {
  color: #000;
  font-family: "SUIT Variable", "sans-serif";
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0;
}

.text-subtitle-black {
  color: #000;
  font-family: "SUIT Variable", "sans-serif";
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0;
}

.text-subtitle-point {
  color: var(--Secondary, #35b711);
  font-family: "SUIT Variable", "sans-serif";
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin: 0;
}

.text-desc {
  color: var(--Black30, var(--Default, #969696));
  font-family: "SUIT Variable", "sans-serif";
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  margin: 0;
}

.text-detail {
  color: rgba(0, 0, 0, 0.34);
  font-family: "SUIT Variable", "sans-serif";
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-wanju {
  font-family: "Wanjudaedunsanche";
}

.text-primary {
  color: var(--Primary);
}

.pointer {
  cursor: pointer;
}
